[project]
name = "kiara-project-viewer"
version = "0.1.0"
description = "kiara project viewer"
authors = []
channels = ["conda-forge", "dharpa"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[commands]
show-version = "kiara --version"
backend = "kiara -p extra_pipelines service start"
export-models = "kiara dev model render typescript --force --output src/lib model_list.txt"

[dependencies]
"kiara_plugin.onboarding" = ">=0.4.5"
kiara = ">=0.4.45"
"kiara_plugin.tabular" = ">=0.4.28"
anyio = ">=3.7.0"
"kiara_plugin.develop" = ">=0.4.1"
python = ">=3.10.0"
"kiara_plugin.language_processing" = "0.4.14.*"
"kiara_plugin.service" = ">=0.4.6"
"kiara_plugin.streamlit" = ">=0.4.4"
"kiara_plugin.html" = "0.4.3.*"
"kiara_plugin.network_analysis" = "0.4.14"