@import 'https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css';

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

input {
	@apply border-2 border-purple-500;
}

h1,
h2 {
	@apply font-bold text-purple-500 my-4;
}
h1 {
	@apply text-5xl;
}
h2 {
	@apply text-3xl;
}

button {
	@apply bg-purple-300 p-2 my-4 hover:bg-purple-200 font-semibold inline-flex;
}
